.venv/
__pycache__/
*.pyc
*.h5
*.ckpt
.ipynb_checkpoints/
data/
# Ignore dataset and output folders
dataset/
data/
outputs/
notebooks/

# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
