# Ignore Venv
.venv/

# Ignore datasets
dataset/
data/

# Ignore model files
*.h5
*.tflite
*.ckpt

# Ignore python cache
__pycache__/
*.pyc

# Ignore temporary images
Week3/temp.jpg

# Ignore notebooks cache
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Project outputs
outputs/
sample_images/
*.jpg
*.png

# Environments
.env
venv/
